extends layout

block stylesheets
  link(rel='stylesheet', href='/stylesheets/about.css')

block topmenu
  ul.nav.navbar-nav
    li: a#music(href='/music') Music
    li: a#art(href='/art') Art
    li: a#videos(href='/video') Video
    li: a#culture(href='/culture') Culture

block content
    .container
        h1 Manifesto du Legion

        .chap
            span.ver.ver_small Named for and after the unification of individuals, we are here to contest popular opinions, to flame and troll the intentionally sensationalising, to have our voices heard and to <span class="emph">enact</span> change in the lives of individuals working together.
            span.clear
            span.ver Legion will be hosting a platform for all you malcontent and disillusioned creatives living in South Africa. 
            span.ver Contributions from free-lance, self-started individuals are what we seek, and that’s what we’re a-gonna get!
            span.clear
            span.clear
            span.ver We want obscure, we want deranged, we want FucKed-Up Shite! 
            span.ver This is no namby-pamby co-op geared towards environmentalism or humanitarianism.
            span.ver We’re in this for the joy of life! 
            span.clear
            span.ver.ver_small This is about you and me, about the collective existence of individuals on earth, and showing off <span class="ital">EVERY</span> side of ourselves. The good, the bad and the crazy. And let’s not forget, the <span class="ital">Good kinda Bad</span>.
        .chap        
            span.ver Creation in action. Expression of the journey of life. Collaboration of minds.
        .chap        
            span.ver Let’s get out there, and shoot some fucking lizards!
        .sub
            span.ver *Oh, Hunter, who arte in heaven, infamous be thy name, guide this humble online journal on its way towards oblivion, as the great Red Shark.
            span.ver For thine is the madness, the eloquent glory, forever and ever, Ah-Lono.
