extends layout

block topmenu
  ul.nav.navbar-nav
    li: a#music(href='/music') Music
    li: a#videos(href='/videos') Videos
    li: a#culture(href='/culture') Culture
    li: a#about(href='/about') Manifesto du Legion