.login
    link(rel='stylesheet', href='/stylesheets/bootstrap.min.css')
    link(rel='stylesheet', href='/stylesheets/normalize.css')
    link(rel='stylesheet', href='/stylesheets/bootstrap-theme.min.css')
    link(rel='stylesheet', href='/stylesheets/login.css')
    .username_wrap
        span.usename_title Username
        input#username
    
    .password_wrap
        span.password_title Password
        input#password
    
    .button_bar
        button#login
            span.glyphicon.glyphicon-okn(aria-hidden="true") Login
        button#cancel 
            span.glyphicon.glyphicon-remove(aria-hidden="true") Cancel
    