extends layout

block topmenu
  ul.nav.navbar-nav
    li: a#art(href='/art') Art
    li: a#videos(href='/videos') Videos
    li: a#culture(href='/culture') Culture
    li: a#about(href='/about') Manifesto du Legion