/*
    Document   : public/stylesheets/homeï¼Žcss
    Created on : 2015-01-02 08:18 PM
    Author     : AngelODeath
    Description:
    Purpose of the stylesheet follows.
    To change this template use Tools | Templates.
*/

.container {
    border: 1px solid red;
    height: 100%;
    width: 100%;
}