/*
    Document   : public/stylesheets/login．css
    Created on : 2015-01-09 09:53 PM
    Author     : AngelODeath
    Description:
    Purpose of the stylesheet follows.
    To change this template use Tools | Templates.
*/

.glyphicon {
    margin-top: 5px;
    margin-bottom: 10px;
    font-size: 24px;
}